<nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
    <ul class="nav nav-underline m-3">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Ver perfil</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/products">Productos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/carts">Carrito</a>
        </li>
    </ul>
</nav>

<h1 class="text-center mt-3">
    Bienvenido a la tienda: {{currentUser.first_name}}! 
</h1>

<div class="d-flex justify-content-evenly m-5">
    <div>
        <form action="/addproduct" method="GET">
            <button type="submit" class="btn btn-danger w-100">Agregar Producto</button>
        </form>
    </div>
    <div>
        <form action="/admin-prods" method="GET">
            <button type="submit" class="btn btn-danger w-100">Administrar Productos</button>
        </form>
    </div>
    <div>
        <form action="/api/users/" method="GET">
            <button type="submit" class="btn btn-danger">Ver Usuarios</button>
        </form>
    </div>
</div>

<div class="d-flex justify-content-center align-items-center m-5">
    <div class="w-50 border rounded-4 p-5">
        <h2 class="text-center">Perfil de Usuario</h2>
        <p>Nombre: {{currentUser.first_name}}</p>
        <p>Apellido: {{currentUser.last_name}}</p>
        <p>Email: {{currentUser.email}}</p>
        <p>Edad: {{currentUser.age}}</p>
        <p>Role: {{currentUser.role}}</p>
        <form action="/api/sessions/logout" method="POST">
            <button type="submit" class="btn btn-primary w-100">Cerrar Sesión</button>
        </form>
    </div>
</div>

